<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    
    
    <head>
    
       <meta charset="utf-8" />
       <!-- 반응형 웹 -->
       <meta name="viewport" content="width=device-width, initial-scale=1" />
       
       <title>d앙</title><!-- 안 넣어도 될 듯 -->
       
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
        
       <!-- CSS -->
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://kit.fontawesome.com/009f152c56.js" crossorigin="anonymous"></script>
        
  
        
       <style>
        
         * {
             font-family: 'NanumBarunGothic';
         }
         
         
         div.effectT{
            white-space: nowrap; 
            width: 250px; 
            overflow: hidden;
            text-overflow: ellipsis;
         }
         
        div.effectT:hover {
            overflow: visible;
        }
         

        .icon {
             font-size: 14px;
             transition: transform 0.2s;
        }

        .icon:hover {
             transform: scale(1.2);
        }
        
        .text {
             font-size: 14px;
             transition: font-size 0.2s;
        }

        .text:hover {
             font-size: 15px;
             background-color: #F0F8FF; 
        }
       </style>
       
    </head>
    
    
    
<body>
  
<!-- 상단 메뉴 바 -->
 <div class="w3-bar"><!-- 바 -->
     <div class="w3-cell-row mt-3 mb-2" style="background-color: #DC143C; height: 90px;"><!--컨테이너 담을 cell row -->
         <div class="w3-container w3-cell" >
           <p> </p>
           </div>
         <div class="w3-container w3-cell" align="right">
           <p class="m-3 fw-bold" style="font-style:italic; font-size: 25px;">차오꿀 님의 다이어리</p>
         </div>
     </div><!-- cell row end -->
  </div><!-- 바 end -->
  

<div class="w-80 container"><!-- 메인 전체 -->

<div class="col-9 p-5"><!-- 메인 왼쪽: 다이어리 캘린더 영역-->

  <div class="w3-cell-row pt-2" style=" height:100px;"><!-- 년/월 부분 -->
    <div class="w3-container w3-cell" style="font-size: 20px; font-weight: 600;"><span th:text="${dto.month +'&nbsp;&nbsp;' + dto.year}"></span></div>
    <div class="w3-container w3-cell" align="right" style="font-size:25px;  font-weight:bold;  width: 400px;"><span style="margin-bottom: 20px;" th:text="${dto.monthValue +'월'}"></span><p></p></div>
 </div>
  
    <!-- 달력 시작 -->
    <div class="w3-cell-row w3-center border-bottom border-dark pt-2 mb-2" style="border-bottom: 2px; height:40px;">
        <div class="w3-container w3-cell" style="width:14%; color:red;">SUN</div>
        <div class="w3-container w3-cell" style="width:14%;">MON</div>
        <div class="w3-container w3-cell" style="width:14%;">TUE</div>
        <div class="w3-container w3-cell" style="width:14%;">WED</div>
        <div class="w3-container w3-cell" style="width:14%;">THU</div>
        <div class="w3-container w3-cell" style="width:14%;">FRI</div>
        <div class="w3-container w3-cell" style="width:14%;color:blue;">SAT</div>
    </div>
    
  
<div class="w3-cell-row border-bottom" style="border-bottom-color: 1px solid #DCDCDC;">  <!-- 1 -->
  <div class="w3-container w3-cell text" th:each="d : ${d1}">
       <span th:if="${d.day} == 0" style="color: white;" id="d" th:text="${ d.day }"></span>
       <span th:if="${d.day} != 0"  th:day="${d.day}" onclick="dayPop(this.getAttribute('day'));" th:text="${ d.day }"></span>
         
       <span th:if="${d.diaryId} == 0" style="color: white;" id="diaryId" th:text="${ d.diaryId }"></span>
       <span th:if="${d.diaryId} != 0"  th:diaryId="${d.diaryId}" onclick="diaryPop(this.getAttribute('diaryId'));"><img class="icon" style="width: 14px;" src="/icons/heart.svg">
         <input type="hidden" id="diaryId" th:value="${ d.diaryId }"></span>
   
       <div class="m-2" style="width:80px; height: 70px;">
         <div th:if="${d.sList} == null" style="color: white;"></div>
         <div th:if="${d.sList}" class="effectT" style="width: 100px;" th:each="s : ${d.sList}"><small>⦁ <span th:text="${ s.content }"></span></small></div>
      </div>
 </div>
</div> 


<div class="w3-cell-row border-bottom" style="border-bottom-color: 1px solid #DCDCDC;">  <!-- 2 -->
   <div class="w3-container w3-cell" th:each="d : ${d2}">
       <span th:if="${d.day} != 0"  th:day="${d.day}" onclick="dayPop(this.getAttribute('day'));" id="d" th:text="${ d.day }"></span>
         
       <span th:if="${d.diaryId} == 0" style="color: white;" id="diaryId" th:text="${ d.diaryId }"></span>
       <span th:if="${d.diaryId} != 0"  th:diaryId="${d.diaryId}" onclick="diaryPop(this.getAttribute('diaryId'));"><img class="icon" style="width: 14px;" src="/icons/heart.svg">
         <input type="hidden" id="diaryId" th:value="${ d.diaryId }"></span>
   
      <div class="m-2" style="width:80px; height: 70px;">
         <div th:if="${d.sList} == null" style="color: white;"></div>
         <div th:if="${d.sList}" class="effectT" style="width: 100px;" th:each="s : ${d.sList}"><small>⦁ <span th:text="${ s.content }"></span></small></div>
      </div>
 </div>
</div> 

<div class="w3-cell-row border-bottom" style="border-bottom-color: 1px solid #DCDCDC;">  <!-- 3 -->
  <div class="w3-container w3-cell" th:each="d : ${d3}">
       <span th:if="${d.day} != 0"  th:day="${d.day}" onclick="dayPop(this.getAttribute('day'));" id="d" th:text="${ d.day }"></span>
         
       <span th:if="${d.diaryId} == 0" style="color: white;" id="diaryId" th:text="${ d.diaryId }"></span>
       <span th:if="${d.diaryId} != 0"  th:diaryId="${d.diaryId}" onclick="diaryPop(this.getAttribute('diaryId'));"><img class="icon" style="width: 14px;" src="/icons/heart.svg">
         <input type="hidden" id="diaryId" th:value="${ d.diaryId }"></span>
   
      <div class="m-2" style="width:80px; height: 70px;">
         <div th:if="${d.sList} == null" style="color: white;"></div>
         <div th:if="${d.sList}" class="effectT" style="width: 100px;" th:each="s : ${d.sList}"><small>⦁ <span th:text="${ s.content }"></span></small></div>
      </div>
 </div>
</div> 

<div class="w3-cell-row border-bottom" style="border-bottom-color: 1px solid #DCDCDC;">  <!-- 4 -->
  <div class="w3-container w3-cell" th:each="d : ${d4}">
       <span th:if="${d.day} != 0"  th:day="${d.day}" onclick="dayPop(this.getAttribute('day'));" id="d" th:text="${ d.day }"></span>
         
       <span th:if="${d.diaryId} == 0" style="color: white;" id="diaryId" th:text="${ d.diaryId }"></span>
       <span th:if="${d.diaryId} != 0"  th:diaryId="${d.diaryId}" onclick="diaryPop(this.getAttribute('diaryId'));"><img class="icon" style="width: 14px;" src="/icons/heart.svg">
         <input type="hidden" id="diaryId" th:value="${ d.diaryId }"></span>
   
      <div class="m-2" style="width:80px; height: 70px;">
         <div th:if="${d.sList} == null" style="color: white;"></div>
         <div th:if="${d.sList}" class="effectT" style="width: 100px;" th:each="s : ${d.sList}"><small>⦁ <span th:text="${ s.content }"></span></small></div>
      </div>
 </div>
</div> 

<div class="w3-cell-row border-bottom" style="border-bottom-color: 1px solid #DCDCDC;">  <!-- 5 -->
  <div class="w3-container w3-cell" th:each="d : ${d5}">
       <span th:if="${d.day} == 0" style="color: white;" id="d" th:text="${ d.day }"></span>
       <span th:if="${d.day} != 0"  th:day="${d.day}" onclick="dayPop(this.getAttribute('day'));" id="d" th:text="${ d.day }"></span>
         
       <span th:if="${d.diaryId} == 0" style="color: white;" id="diaryId" th:text="${ d.diaryId }"></span>
       <span th:if="${d.diaryId} != 0"  th:diaryId="${d.diaryId}" onclick="diaryPop(this.getAttribute('diaryId'));"><img class="icon" style="width: 14px;" src="/icons/heart.svg">
         <input type="hidden" id="diaryId" th:value="${ d.diaryId }"></span>
   
      <div class="m-2" style="width:80px; height: 70px;">
         <div th:if="${d.sList} == null" style="color: white;"></div>
         <div th:if="${d.sList}" class="effectT" style="width: 100px;" th:each="s : ${d.sList}"><small>⦁ <span th:text="${ s.content }"></span></small></div>
      </div>
 </div>
</div> 
<!-- 달력 끝 -->

<!-- 달력 페이징 버튼 -->
 <div class="w3-container mt-3" style="display: inline-block;">
   <span th:if="${ dto.monthValue != 1}">
     <button class="w3-button" style="margin-left:370px;" th:onclick="|location.href='@{ /calendar/front?monthValue={monthValue}&year={year} (monthValue =${ dto.monthValue -1 }, year = ${ dto.year})}'|" >
      <img src="/icons/l.svg" width="16" height="16"></button>
   </span>
   <span th:if="${ dto.monthValue == 1}">
      <button class="w3-button" style="margin-left:370px;" th:onclick="|location.href='@{ /calendar/front?monthValue={monthValue}&year={year} (monthValue =${ dto.monthValue +11 }, year = ${ dto.year -1})}'|" >
        <img src="/icons/l.svg" width="16" height="16"></button>
   </span>
  <span th:if="${ dto.monthValue != 12}">
     <button class="w3-button" th:onclick="|location.href='@{ /calendar/back?monthValue={monthValue}&year={year} (monthValue =${ dto.monthValue +1 }, year = ${ dto.year})}'|">
        <img src="/icons/r.svg" width="16" height="16"></button>
  </span>
  <span th:if="${ dto.monthValue == 12}">
     <button class="w3-button" th:onclick="|location.href='@{ /calendar/back?monthValue={monthValue}&year={year} (monthValue =${ dto.monthValue -11 }, year = ${ dto.year +1})}'|">
        <img src="/icons/r.svg" width="16" height="16"></button>
  </span>
</div>
<!-- 달력 페이징 버튼 끝 -->

</div><!-- 메인 왼쪽 끝 -->

   
  
  <div class="col-3"><!-- 메인 오른쪽 영역 -->
  </div><!--메인 오른쪽 끝 -->
  
  
<!-- day 클릭 모달 -->
<div id="id01" class="w3-modal">
   <div class="w3-modal-content" style="width: 280px; height: 400px;">
     <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
     <input type="hidden"  id="y" th:value="${dto.year}"/><input type="hidden" style="border:none; font-size:25px; width: 45px;" id="m" th:value="${dto.monthValue}"/><input type="hidden" id="fullDate" />
      
     <div class="w3-cell-row p-2"> 
          <div  class="w3-container w3-cell"> 
            <div class="mt-4" th:text="${dto.year}" style="font-size: 13px; margin-left: 8px;" ></div>
            <div align="right" style="display: inline-block; font-size: 25px;">
               <span style="margin-left: 147px;" id="m2" th:text="${ dto.monthValue }"></span> /
               <input style="border:none; font-size:25px; width: 45px;" id="modalDay" type="text"/>
            </div>
            <span style="font-size: 8px; margin-left: 155px;" id="dow" th:text="${dto.dayOfWeek}"></span> 
            
            <div class="w3-sidebar w3-center w3-bar-block" style="background-color:#F5F5F5; display:none ;  width:110px; height:150px;" id="mySidebar">
                <button class="w3-bar-item w3-button" onclick="w3_close()"><span style="margin-right: 50px;"></span>&times;</button>
                <span onclick="showDDayInput()" class="w3-bar-item w3-button w3-small">D-DAY ♥</span>
                <span onclick="showInput()" class="w3-bar-item w3-button w3-small"><span onclick="w3_close()">일정 추가</span></span>
                <span onclick="showDiaryFoam()" class="w3-bar-item w3-button  w3-small">내 일기장</span>
            </div>
            
            <button class="w3-button w3-white" style="margin-left:190px; display: inline-block;" onclick="w3_open()"><span style="color:#C0C0C0;">&#9776;</span></button><br>  
            
            <div><small>&nbsp;&nbsp;오늘의 일정</small></div>
            <div class="border rounded mt-1 mb-1" style="padding-left:15px; height: 150px; border: 1px solid gray;" id="sListDiv"></div> <!-- 일정 리스트 -->
            <span id=inputDiv></span><!-- 일정 추가 입력창 -->
               
            <!-- 날짜 앞/뒤 버튼 -->
            <div class="w3-container mt-2" style="display: inline-block;">
               <button class="w3-button" style="margin-left:50px;" onclick="frontDay();"><img src="/icons/l.svg" width="12" height="12"></button>
               <button class="w3-button" onclick="backDay();"><img src="/icons/r.svg" width="12" height="12"></button>
            </div>
           </div>
      </div>
   </div>
</div>
<!-- 모달 끌 -->


<!-- Diary Create Form 모달 -->
<div id="diaryModal" class="w3-modal">
   <div class="w3-modal-content" style="width: 480px; height: 580px;">
    <span onclick="document.getElementById('diaryModal').style.display='none'" class="w3-button w3-display-topright">&times;</span><br><br>
     <form id="diaryFoam" class="w3-container m-3" method="post"><!-- 다이어리 모달 컨텐츠 전체 -->
       <div class="w3-cell-row mb-3">
          <span class="w3-container w3-cell" id="diaryDayDiv"></span><!-- 날짜 -->
          <div class="w3-container w3-cell" align="right"><!-- 날씨 -->
             <img width="22px;" src="/icons/sun-fill.svg">&nbsp;&nbsp;<img width="22px;" src="/icons/umbrella.svg">&nbsp;&nbsp;
             <img width="22px;" src="/icons/wind.svg">&nbsp;&nbsp;<img width="22px;" src="/icons/snow2.svg">
          </div>
        </div> 
        <input class="form-control mt-5" type="text" id ="title" placeholder="제목을 입력하세요">
        <textarea class="form-control mt-2" style="height: 350px;" id="diaryContent" required></textarea>
        <div align="right" style="border-color: 1px solid gray;" id="diaryBtn" class="m-2">저장하기</div>
     </form> 
   </div>
</div><!-- Diary Create For 끝 -->
  
 <!-- Diary Detail 모달 -->
<div id="diaryDetailModal" class="w3-modal">
   <div class="w3-modal-content" style="width: 480px; height: 580px;">
    <span onclick="document.getElementById('diaryDetailModal').style.display='none'" class="w3-button w3-display-topright">&times;</span><br><br>
     <form id="diaryFoam" class="w3-container m-3" method="post"><!-- 다이어리 모달 컨텐츠 전체 -->
       <div class="w3-cell-row pb-3 border-bottom" style="border-bottom-color: 1px solid #DCDCDC;">
          <span class="w3-container w3-cell" id="detailDayDiv"></span><!-- 날짜 -->
          <div class="w3-container w3-cell" align="right"><!-- 날씨 -->
             <img width="22px;" src="/icons/sun-fill.svg">&nbsp;&nbsp;<img width="22px;" src="/icons/umbrella.svg">&nbsp;&nbsp;
             <img width="22px;" src="/icons/wind.svg">&nbsp;&nbsp;<img width="22px;" src="/icons/snow2.svg">
          </div>
        </div> 
        <div id="detailDiv"></div>
     </form> <!-- Diary Detail 끝 -->
   </div>
</div>
   
<!-- DDay 모달 -->
<div id="dDayModal" class="w3-modal">
   <div class="w3-modal-content" style="width: 300px; height: 360px;">
      <span onclick="document.getElementById('dDayModal').style.display='none'" class="w3-button w3-display-topright">&times;</span><br>
      <div class="mx-3 my-3"><!-- 컨텐츠부분 -->
       <div class="mb-3"><!-- 상단 -->
         <div id="todayDiv"></div>
         <input class="form-control" type="date" style="display: inline-block; width: 145px;" id="untilDate"><span style="margin-left: 7px; margin-right: 30px;">까지?</span>
         <small><span class="rounded border p-1 mt-1" onclick="subtract(event);">선택</span></small>
       </div>
       <div id="subDiv" class="border-top border-bottom mt-3 mb-2" style="height:100px; border-bottom-color: 1px solid #DCDCDC;"></div><!-- 게산해서 보여주는 영역 -->
       
       <div class="mb-3">
          <div style="margin-left: 7px; margin-bottom: 6px;"><small>새로운 D-DAY로 추가하시겠어요?</small></div>
         
          <span style="margin-left: 13px; width:15px; font-size: 7px;"><small>D-DAY'S NAME</small><input type="text" id="dDayName" style="font-size: 15px; width:170px; margin-left: 7px;display: inline-block;"></span>
        </div>
        <small><span id="dDayBtn" style="margin-left:200px; font-size: 10px;" class="rounded border p-1 mt-1">D-DAY추가</span></small>
      </div>
   </div>
</div><!-- DDay모달 끝 -->
   
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
        
    <script th:src="@{ /js/calendar.js }"></script>
           
</div><!-- 메인 전체 끝 --> 
    
</body>
</html>