<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    
    
    <head>
    
       <meta charset="utf-8" />
       <!-- 반응형 웹 -->
       <meta name="viewport" content="width=device-width, initial-scale=1" />
       
       <title>d앙</title><!-- 안 넣어도 될 듯 -->
       
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
        
       <!-- CSS -->
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://kit.fontawesome.com/009f152c56.js" crossorigin="anonymous"></script>
        
  
        
       <style>
        
         * {
             font-family: 'NanumBarunGothic';
         }
         
         
         div.effectT{
            white-space: nowrap; 
            width: 200px; 
            overflow: hidden;
            text-overflow: ellipsis;
         }
         
        div.effectT:hover {
            overflow: visible;
        }
         

       </style>
       
    </head>
    
    
    
<body>
  
<!-- 상단 메뉴 바 -->
 <div class="w3-bar"><!-- 바 -->
     <div class="w3-cell-row mt-3 mb-2" style="background-color: #DC143C; height: 90px;"><!--컨테이너 담을 cell row -->
         <div class="w3-container w3-cell" >
           <p> </p>
           </div>
         <div class="w3-container w3-cell">
           <p></p>
         </div>
     </div><!-- cell row end -->
  </div><!-- 바 end -->
  

<div class="w-80 container"><!-- 메인 전체 -->

<div class="col-9 p-5"><!-- 메인 왼쪽: 다이어리 캘린더 영역-->

  <div class="w3-cell-row pt-2" style=" height:100px;"><!-- 년/월 부분 -->
    <div class="w3-container w3-cell" style="font-size: 20px; font-weight: 600;"><span th:text="${dto.month +'&nbsp;&nbsp;' + dto.year}"></span></div>
    <div class="w3-container w3-cell" align="right" style="font-size:25px;  font-weight:bold;  width: 400px;"><span style="margin-bottom: 20px;" th:text="${dto.monthValue +'월'}"></span><p></p></div>
 </div>
  
    <!-- 달력 테이블 -->
    <div class="w3-cell-row w3-center border-bottom border-dark pt-1" style="border-bottom: 2px; height:40px;">
        <div class="w3-container w3-cell" style="width:14%; color:red;">SUN</div>
        <div class="w3-container w3-cell" style="width:14%;">MON</div>
        <div class="w3-container w3-cell" style="width:14%;">TUE</div>
        <div class="w3-container w3-cell" style="width:14%;">WED</div>
        <div class="w3-container w3-cell" style="width:14%;">THU</div>
        <div class="w3-container w3-cell" style="width:14%;">FRI</div>
        <div class="w3-container w3-cell" style="width:14%;color:blue;">SAT</div>
    </div>
    
  
    <div class="w3-cell-row w3-center mt-3" style=" height:90px; border-bottom: 1px solid #DCDCDC;"> 
      <div th:day="${w}" onclick="dayPop(this.getAttribute('day'));" class="w3-container w3-cell" style="width:14%;" th:each="w : ${w1}">
        <span th:if="${w} == 0"><span style="color: white;" id="w" th:text="${ w }"></span></span>
        <span th:if="${w} != 0"><span id="w" th:text="${ w }"></span></span>
         
      </div>
    </div>
    
    <div class="w3-cell-row w3-center mt-2" style=" height:90px; border-bottom: 1px solid #DCDCDC;">
      <div th:day="${w}" onclick="dayPop(this.getAttribute('day'));" class="w3-container w3-cell" style="width:14%; height: 8px;" th:each="w : ${w2}"><span id="w" th:text="${ w }"></span>
      </div>
       
    </div>
    
   <div class="w3-cell-row w3-center mt-2" style=" height:90px; border-bottom: 1px solid #DCDCDC;">
      <div th:day="${w}" onclick="dayPop(this.getAttribute('day'));" class="w3-container w3-cell"  style="width:14%; "th:each="w : ${w3}"><span id="w"  th:text="${ w }"></span></div>
      
    </div>
    
    <div class="w3-cell-row w3-center mt-2" style=" height:90px; border-bottom: 1px solid #DCDCDC;">
      <div th:day="${w}" onclick="dayPop(this.getAttribute('day'));" class="w3-container w3-cell" style="width:14%; " th:each="w : ${w4}"><span id="w"  th:text="${ w }"></span></div>
    
    </div>
    
    <div class="w3-cell-row w3-center mt-2" style=" height:90px; border-bottom: 1px solid #DCDCDC;">
      <div th:day="${w}" onclick="dayPop(this.getAttribute('day'));" class="w3-container w3-cell" style="width:14%;" th:each="w : ${w5}">
        <span th:if="${w} == 0"><span style="color: white;" th:text="${ w }"></span></span>
        <span th:if="${w} != 0"><span th:text="${ w }"></span></span>
      </div>
    </div>
    
    <div th:if="${w6}">
    <div class="w3-cell-row w3-center mt-2" style=" height:90px; border-bottom: 1px solid #DCDCDC;">
      <div th:day="${w}" onclick="dayPop(this.getAttribute('day'));" class="w3-container w3-cell" style="width:14%; " th:each="w : ${w6}">
      <span th:if="${w} == 0"><span style="color: white;" th:text="${ w }"></span></span>
      <span th:if="${w} != 0"><span th:text="${ w }"></span></span>
    </div>
    </div>
   
    <!-- 달력 끝 -->
    
   


 <!-- 달력 페이징 버튼 -->
 <div class="w3-container mt-3" style="display: inline-block;">
 
  <button class="w3-button" style="margin-left:370px;" th:onclick="|location.href='@{ /calendar/front?monthValue={monthValue}&year={year} (monthValue =${ dto.monthValue }, year = ${ dto.year})}'|" >
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
     <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
     </svg>
  </button>

 <button class="w3-button" th:onclick="|location.href='@{ /calendar/back?monthValue={monthValue}&year={year} (monthValue =${ dto.monthValue }, year = ${ dto.year})}'|">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg>
</button>
</div>


</div><!-- 메인 왼쪽 끝 -->

   
  
  <div class="col-3"><!-- 메인 오른쪽 영역 -->
  </div><!--메인 오른쪽 끝 -->
  
  
  
  <div id="id01" class="w3-modal"><!-- day 클릭 모달 -->
    <div class="w3-modal-content" style="width: 280px; height: 400px;">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
         <input type="hidden"  id="y" th:value="${dto.year}"/><input type="hidden" style="border:none; font-size:25px; width: 45px;" id="m" th:value="${dto.monthValue}"/><input type="hidden" id="fullDate" />
      
        <div class="w3-cell-row p-2"> 
          <div  class="w3-container w3-cell"> 
            <div class="mt-4" th:text="${dto.year}" style="font-size: 13px; margin-left: 8px;" ></div>
            <div align="right" style="display: inline-block; font-size: 25px;">
            <span style="margin-left: 147px;" id="m2" th:text="${ dto.monthValue }"></span> /
            <input style="border:none; font-size:25px; width: 45px;" id="modalDay" type="text"/>
            </div>
            <span style="font-size: 8px; margin-left: 155px;" th:text="${dto.dayOfWeek}"></span> 
            
            <div class="w3-sidebar w3-center w3-bar-block" style="background-color:#F5F5F5; display:none ;  width:110px; height:150px;" id="mySidebar">
                <button class="w3-bar-item w3-button" onclick="w3_close()"><span style="margin-right: 50px;"></span>&times;</button>
                 <a href="#" class="w3-bar-item w3-button w3-small">D-DAY ♥</a>
                <span onclick="showInput()" style="font-size: 12px; margin-right: 10px;"><span onclick="w3_close()">일정 추가</span></span>
                 <a href="#" class="w3-bar-item w3-button  w3-small">내 일기장</a>
            </div>
            
             <button class="w3-button w3-white" style="margin-left:190px; display: inline-block;" onclick="w3_open()"><span style="color:#C0C0C0;">&#9776;</span></button>
             <br>  
            <div><small>&nbsp;&nbsp;오늘의 일정</small></div>
            <div class="border rounded mt-1 mb-1" style="padding-left:15px; height: 150px; border: 1px solid gray;" id="sListDiv"></div> 
               <span id=inputDiv></span>
               
              <div class="w3-container mt-2" style="display: inline-block;">
                 <button class="w3-button" style="margin-left:50px;" onclick="frontDay();">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg>
                </button>
                <button class="w3-button" onclick="backDay();">
                 <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                 </svg>
                </button>
              </div>
           </div>
         </div>
   </div>
  </div><!-- 모달 끌 -->
  
 
 
   
   
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
        
    <script th:src="@{ /js/calendar.js }"></script>
    
   <script >
  
    function dayPop(day){
    	document.getElementById('id01').style.display='block';
     
        const modalDay = document.querySelector('#modalDay');
    
        axios
        .get('/day/' + day) 
        .then(response => {
             modalDay.value = response.data;
             showFullDate();
             showScheduleOfDay();
             })
        .catch(err => { console.log(err) });
         };
         
         
       function  showFullDate() {
    	   const year= document.querySelector('#y').value;
           const monthValue= document.querySelector('#m').value;
           const day= document.querySelector('#modalDay').value;
           const full= document.querySelector('#fullDate');
           fullDate = year+monthValue+day; 
           full.value= fullDate;
         }
         
      function showInput(){
    	  const inputDiv  = document.querySelector('#inputDiv');
    	  let str ='<input style="border:none;" autofocus="autofocus" id="addP" type="text" /><span id=addBtn style="margin-left: 10px;"><small>추가</small></span>';
    	  
    	  inputDiv.innerHTML = str;
    	  
    	  const addBtn  = document.querySelector('#addBtn');
          console.log(addBtn);
          
          addBtn.addEventListener('click', e => {
                    
              const content= document.querySelector('#addP').value;
              const year= document.querySelector('#y').value;
              const monthValue= document.querySelector('#m').value;
              const day= document.querySelector('#modalDay').value;
              const full= document.querySelector('#fullDate').value;
        
              
              const data ={
                      year:year,
                      monthValue:monthValue,
                      day:day,
                      content:content,
                      fullDate:fullDate 
              }
            
              console.log(content);
              console.log(data);  
              
              axios.post('/add/schedule', data)
                   .then(response => {
                	      console.log('성공')
                	      str ='';
                	      inputDiv.innerHTML = str;
                	      showScheduleOfDay()
              })
                  .catch(err => { console.log(err) });
         });
         
      };
      
      function  showScheduleOfDay(){
    	  const inputDiv  = document.querySelector('#inputDiv');
    	
    	  
    	   const fullDate= document.querySelector('#fullDate').value; 
    	   
          axios
          .get('/show/schedule/day/' + fullDate) 
          .then(response => {
        	  console.log('쇼스케쥴 성공');
        	  showList(response.data);
               })
          .catch(err => { console.log(err) });
          
      }
      
     function showList(data){
    	 
    	   const sListDiv= document.querySelector('#sListDiv');
    	   str ='';
    	  for (let x of data){ 
    		 
         	 str += '<div class="effectT"><small>⦁ '+x.content+'</small></div>';
    			 } 
    	    
              
             sListDiv.innerHTML = str;
    			 } 
    
     
     function frontDay() {
    	 const day= document.querySelector('#modalDay').value;
    	 const fullDate= document.querySelector('#fullDate').value; 
    	 const m= document.querySelector('#m').value;
    	 console.log(m);
    	 console.log(m-1);
          
    	  axios.get('/front/day/'+fullDate)
         .then(response => {
             
        	 modalDay.value =day-1;
             showFullDate();
             showScheduleOfDay();
            
          
              })
         .catch(err => { console.log(err) });
     }

     
     function backDay() {
         const day= document.querySelector('#modalDay').value;
         
         axios
         .get('/back/day/' + day) 
         .then(response => {
             modalDay.value =response.data;
             showFullDate();
             showScheduleOfDay();
              })
         .catch(err => { console.log(err) });
     }
     
     
     function w3_open() {
    	    document.getElementById("mySidebar").style.display = "block";
    	}
    	function w3_close() {
    	    document.getElementById("mySidebar").style.display = "none";
    	}
      
     </script>
           
</div><!-- 메인 전체 끝 --> 
    
</body>
</html>
